@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   body {
      font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
      line-height: 1.5;
      margin: auto;
      display: flex;
      max-width: 1200px;
      min-height: 100vh;
      padding: 10px;
      background-color: #f9fafc;
   }

   * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
   }
}

@layer components {
   .selected {
      @apply bg-[#f7753d49] text-primary rounded-lg
   }

   .btn {
      @apply flex justify-center items-center bg-primary text-white border-none text-2xl h-7 w-7 p-0.5 rounded-lg cursor-pointer
   }
}